<!-- Header -->
<header>
  <div class='container'>

    <div class='row content-between item-center'>

      <div class='logo'>
        <a routerLink="home">PELIS APP</a>
      </div>

      <input type="checkbox" id="nav-check">
      <label for='nav-check' class='nav-toggler'>
        <span></span>
      </label>

      <nav>
        <div class='searcher'>
          <input type="search" placeholder="Buscar película">
          <button class='btn btn-1' type="submit">
            Buscar
          </button>
        </div>
      </nav>

    </div>

  </div>
</header>
<!-- Header -->
