.movie-img img {
  border-radius: 8px;
  max-width: 350px;
}

.movie-details {
  max-width: 50%;
}

.movie-details h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f2f0ef;
  margin-bottom: 15px;
}

.movie-details p {
  font-size: 16px;
  font-weight: 400;
  color: rgba( 255, 255, 255, 0.8 );
  margin-bottom: 14px;
}  

.movie-details p span {
  color: #f2f0ef;
  font-weight: 500;
  margin-right: 4px;
}

.star-rating {
  margin-bottom: 14px;
}


/* Responsive */
@media( max-width: 991px ) {
  .start-rating,
  .movie-details,
  .movie-img {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
  }
}


@media( max-width: 767px ) {

}

@media( max-width: 575px ) {
}
/* Responsive */




