<section class='grid-section sec-padding mt-5' id='grid-sec'>
  <div class='container'>

    <div class='row' *ngIf="movie">
      <div class='section-title mb-5'>
        <h2>{{ movie.title }}</h2>
      </div>
    </div>

    <div class='row content-between' *ngIf="movie">
      <div class='movie-img'>
        <img [src]='movie.poster_path | poster' [alt]="movie.title">
      </div>
      <div class='movie-details'>
        <h3>Descripción:</h3>
        <p> {{ movie.overview }}</p>

        <star-rating [value]="movie.vote_average"
                     class='start-rating'
                     [totalstars]=10
                     checkedcolor="yellow"
                     uncheckedcolor="gray"
                     size="16px"
                     [readonly]=false>

        </star-rating>

        <p><span>Genero:</span>{{ movie.genres[0].name }}</p>
        <p><span>Lanzamiento:</span>{{ movie.release_date }}</p>
        <p><span>Pais de origen:</span>{{ movie.production_countries[0].name }}</p>

        <button class='btn btn-2 mt-5'
              (click)="onBack()">
          Regresar
        </button>
      </div>
    </div>



    <div class='row' *ngIf="cast.length > 0">
      <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>

  </div>
</section>
